<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sizdev.arkhirefortalent">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArkhireTalent"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${mapsApiKey}" />

        <activity android:name="com.sizdev.arkhirefortalent.homepage.item.company.profile.CompanyProfileActivity"></activity>
        <activity android:name="com.sizdev.arkhirefortalent.homepage.item.home.project.detailedproject.DetailOfProjectActivity" />
        <activity android:name="com.sizdev.arkhirefortalent.homepage.item.home.project.waitingproject.ShowWaitingProjectActivity" />
        <activity android:name="com.sizdev.arkhirefortalent.homepage.item.home.project.declinedproject.ShowDeclinedProjectActivity" />
        <activity android:name="com.sizdev.arkhirefortalent.homepage.item.home.project.approvedproject.ShowApprovedProjectActivity" />
        <activity android:name="com.sizdev.arkhirefortalent.homepage.item.home.project.allproject.ShowAllProjectActivity" />
        <activity android:name="com.sizdev.arkhirefortalent.webviewer.ArkhireWebViewerActivity" />
        <activity android:name=".onboarding.OnBoardingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".administration.password.ResetPasswordActivity" />
        <activity android:name="com.sizdev.arkhirefortalent.homepage.item.account.profile.editingprofile.EditProfileActivity" />
        <activity android:name="com.sizdev.arkhirefortalent.homepage.item.account.profile.TalentProfileActivity" />
        <activity android:name=".administration.password.ForgetPasswordActivity" />
        <activity android:name=".administration.login.LoginActivity" />
        <activity android:name=".administration.register.RegisterActivity" />
        <activity android:name=".homepage.HomeActivity" />
    </application>

</manifest>